.entry{
 padding: 3px;
 padding-left: 3%;
 background: grey;
 margin-bottom: 2px;
 border-radius: 20px 5px 5px 20px;
}
img{
 height: 100%;
}
.mat-card-header{
 float: right;
 padding-right: 5%;
 text-align: center;
}

