<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div *ngIf="pokemon != undefined">
  <mat-card
    class="entry type-{{ pokemon.types[0].type.name }}"
    (click)="toggle()"
  >
    <img mat-card-sm-image src="{{ pokemon.sprites.front_default }}" />

    <mat-card-header>
      <mat-card-title-group class="titles">
        <p>{{ dex }}</p>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-subtitle>
      <span
        *ngFor="let pokemonType of pokemon.types"
        className="type type-{{ pokemonType.type.name }} tag mr-1 is-rounded"
      >
        {{ pokemonType.type.name }}
      </span>
    </mat-card-subtitle>
    <mat-card-content *ngIf="speciesData != undefined">
      <mat-divider
        [@bodyExpansion]="state"
        [inset]="true"
        class="expandable-content"
      ></mat-divider>
      <p [@bodyExpansion]="state" class="expandable-content">
        {{ getFlavorLang() }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
