$breakpoint-tablet: 768px;

body{
 display: inline;
 margin-right: 0px;
 height: 100%;
 width: 100%;
}

div{
 height: 100%;
 width: 100%;
 overflow: hidden;
 margin: 10px;
}
.boxleft{
 width: 20%;
 height: 50%;
 float: left;
 overflow: hidden;
}
.boxright{
 margin-left: 31%;
 height: 100%;
 width: 40%;
 overflow-y: scroll;
 overflow-x: hidden;
 scrollbar-width: 1px;

}
::-webkit-scrollbar {
 width: 4px;
}
::-webkit-scrollbar-track {
 background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}

@media (max-width: 768px) {
 .boxleft{
  width: 30%;
 }
 .boxright{
  width: auto;

 }
}

